.filter-buttons {
  margin-top: 30px;
  div {
    margin-right: 30px;
  }
}

.category-input {
  margin-top: 30px;
}

.no-items {
  left: 24%;
  position: absolute;
  top: 25%;
  font-weight: 700;
  font-size: 30px;
}
